SOURCE_POSTGRES_HOST=source-postgres
SOURCE_POSTGRES_PORT=5432
SOURCE_POSTGRES_DB=shopsphere
SOURCE_POSTGRES_USER=shopsphere_user
SOURCE_POSTGRES_PASSWORD=shopsphere_password

MONGO_INITDB_ROOT_USERNAME=shopsphere_mongo
MONGO_INITDB_ROOT_PASSWORD=shopsphere_mongo_password
MONGODB_URI=mongodb://shopsphere_mongo:shopsphere_mongo_password@source-mongodb:27017/shopsphere_events?authSource=admin
MONGODB_DATABASE=shopsphere_events

MOCK_API_BASE_URL=http://mock-api:8000

MINIO_ENDPOINT=minio:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_SECURE=false

WAREHOUSE_POSTGRES_HOST=warehouse-postgres
WAREHOUSE_POSTGRES_PORT=5432
WAREHOUSE_POSTGRES_DB=shopsphere_warehouse
WAREHOUSE_POSTGRES_USER=warehouse_user
WAREHOUSE_POSTGRES_PASSWORD=warehouse_password
