SOURCE_POSTGRES_HOST=localhost
SOURCE_POSTGRES_PORT=5433
SOURCE_POSTGRES_DB=shopsphere
SOURCE_POSTGRES_USER=shopsphere_user
SOURCE_POSTGRES_PASSWORD=shopsphere_password

MONGODB_URI=mongodb://shopsphere_mongo:shopsphere_mongo_password@localhost:27018/shopsphere_events?authSource=admin
MONGODB_DATABASE=shopsphere_events

MOCK_API_BASE_URL=http://localhost:8000

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_SECURE=false
MINIO_BUCKET=shopsphere-lake

WAREHOUSE_POSTGRES_HOST=localhost
WAREHOUSE_POSTGRES_PORT=5434
WAREHOUSE_POSTGRES_DB=shopsphere_warehouse
WAREHOUSE_POSTGRES_USER=warehouse_user
WAREHOUSE_POSTGRES_PASSWORD=warehouse_password
